*.d.ts
node_modules/*
!src/create_prisma_client/nodejs/node_modules/@shared_libs/
!src/create_prisma_client/nodejs/node_modules/@shared_libs/createPrismaClient.ts

.eslintcache

build

package-lock.json
yarn.lock

*.log

bin/**/*.js
lib/**/*.js
