!jest.config.js
*.d.ts
node_modules/*
!src/lambda-layers-libs/nodejs/node_modules/@shared_libs/
!src/lambda-layers-libs/nodejs/node_modules/@shared_libs/createPrismaClient.ts

.eslintcache

# CDK asset staging directory
.cdk.staging
cdk.out

build

package-lock.json
yarn.lock

*.log

bin/**/*.js
lib/**/*.js
